<svg class="{{ class }}" width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>twitter-square-brands</title>
    <desc>Created with Sketch.</desc>
    <g id="landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-1435.000000, -25.000000)" fill="#2C2C2C" fill-rule="nonzero" id="Top-section">
            <g>
                <g id="twitter-square-brands" transform="translate(1435.000000, 25.000000)">
                    <path d="M26.7857143,0 L3.21428571,0 C1.43973214,0 0,1.43973214 0,3.21428571 L0,26.7857143 C0,28.5602679 1.43973214,30 3.21428571,30 L26.7857143,30 C28.5602679,30 30,28.5602679 30,26.7857143 L30,3.21428571 C30,1.43973214 28.5602679,0 26.7857143,0 Z M23.5111607,10.6339286 C23.5245536,10.8214286 23.5245536,11.015625 23.5245536,11.203125 C23.5245536,17.0089286 19.1049107,23.6986607 11.0290179,23.6986607 C8.53794643,23.6986607 6.22767857,22.9754464 4.28571429,21.7299107 C4.640625,21.7700893 4.98214286,21.7834821 5.34375,21.7834821 C7.39955357,21.7834821 9.28794643,21.0870536 10.7946429,19.9084821 C8.86607143,19.8683036 7.24553571,18.6026786 6.68973214,16.8616071 C7.36607143,16.9620536 7.97544643,16.9620536 8.671875,16.78125 C6.66294643,16.3727679 5.15625,14.6049107 5.15625,12.46875 L5.15625,12.4151786 C5.73883929,12.7433036 6.421875,12.9441964 7.13839286,12.9709821 C5.91485368,12.1571228 5.18062995,10.784225 5.18303571,9.31473214 C5.18303571,8.49776786 5.39732143,7.74776786 5.77901786,7.09821429 C7.94196429,9.76339286 11.1897321,11.5044643 14.8325893,11.6919643 C14.2098214,8.71205357 16.4397321,6.29464286 19.1183036,6.29464286 C20.3839286,6.29464286 21.5223214,6.82366071 22.3258929,7.68080357 C23.3169643,7.49330357 24.2678571,7.125 25.1116071,6.62276786 C24.7834821,7.640625 24.09375,8.49776786 23.1830357,9.04017857 C24.0669643,8.94642857 24.9241071,8.69866071 25.7142857,8.35714286 C25.1183036,9.234375 24.3683036,10.0111607 23.5111607,10.6339286 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
