@import "../variables";

.footer {
  z-index: 92;
  background: $color-dark;

  &__content {
    padding: 45px 10px;

    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $screen-s) {
      padding: 50px;
    }
  }

  &__address {
    width: 100%;

    @media screen and (min-width: $screen-s) {
      width: calc(50% - 30px);
      margin-right: 30px;
    }
  }

  &__blog {
    width: 100%;
    margin-top: 45px;

    @media screen and (min-width: $screen-s) {
      width: calc(50% - 30px);
      margin-left: 30px;
      margin-top: 0;
    }
  }

  &__section-title {
    color: $color-light;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__address-container {
    margin: 35px 0 0;
  }

  &__address-line {
    color: $color-light;
    font-size: 2.4em;
    line-height: 1.5;
    margin: 0;

    strong {
      color: $color-light;
    }
  }

  &__email {
    color: $color-light;
    font-size: 2.4em;
  }

  &__blog-list {
    list-style: none;
    padding-left: 0;
    margin: 35px 0 0;
  }

  &__blog-list-item {
    background: url('/static/icons/chevron-right-white.svg') no-repeat left 2px;
    padding-left: 45px;
    margin-bottom: 20px;

    color: $color-light;
    font-size: 2.1em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__blog-link {
    color: $color-light;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__copyrights {
    text-align: center;
    padding: 20px 0;
    font-size: 1.6em;
  }

  &__copyrights-item {
    color: $color-light;
    text-transform: uppercase;
    display: block;

    a {
      color: $color-light;
    }
  }
}
