$color-dark: #000000;
$color-dark-gray: #2C2C2C;
$color-gray: #5C5C5C;
$color-light-gray: #F6F6F6;
$color-light: #ffffff;
$color-primary: #0042c6;

$space-xs: 10px;
$space-s: 15px;
$space-m: 20px;
$space-l: 30px;
$space-xl: 45px;

$radius-global: 2px;
$animation-global: 0.3s;

$screen-xs: 576px;
$screen-s: 768px;
$screen-m: 992px;
$screen-l: 1200px;
