<section class="about-us" id="about-us">
    <div class="about-us__content screen-handler">
        <div class="about-us__box">
            <h2 class="about-us__title">We strongly believe:</h2>
            <ul class="about-us__list">
                <li class="about-us__list-item">
                    Solid infrastructure can be implemented for any development team. However this requires people who know what to do and how to do it.<br />
                    Well-made, secure, highly-available and redundant infrastructure is a crucial part of any business, and can easily make or break a company.
                </li>
                <li class="about-us__list-item">
                    Infrastructure is an integral part of the development process.<br />
                    We interact with your developers, ask questions, question solutions and help to choose proper technology for specific projects.<br />
                    We have been maintaining projects based on PHP, Python, Java and Go.
                </li>
                <li class="about-us__list-item">
                    We are paid for finding solutions, not doing repeatable tasks.<br />
                    We automate all the things we can.
                </li>
            </ul>
        </div>
        <div class="about-us__box">
            <h2 class="about-us__title">Who we are, who we're not:</h2>
            <ul class="about-us__list">
                <li class="about-us__list-item">
                    DevOps crew, network or system administrators, infrastructure caretakers - call us as you wish.<br />
                    What we do is take responsibility for your infrastructure. And we love well made, properly defined and automated systems.
                </li>
                <li class="about-us__list-item">
                    We are a young team with 5 years of diverse experience in many areas of infrastructure modelling and deployment.<br />
                    We learn from every project we participate in and teach your team what we've learnt ourselves.
                </li>
            </ul>
        </div>
        <div class="about-us__box">
            <h2 class="about-us__title">What makes us different?</h2>
            <ul class="about-us__list">
                <li class="about-us__list-item">
                    We are involved in the development process.<br />
                    No pointing fingers between teams - we work as part of the team and embrace their development workflow.<br />
                    This is essential to make reliable systems.
                </li>
                <li class="about-us__list-item">
                    We open-source our work, as we're not ashamed of it.<br />
                    Good solutions need sharing, discussion and questioning in order to become perfect.
                </li>
                <li class="about-us__list-item">
                    We are paid for finding solutions, not doing repeatable tasks.<br />
                    We automate all the things we can.
                </li>
            </ul>
        </div>
        <div class="about-us__box">
            <h2 class="about-us__title">Where are we?</h2>
            <p class="about-us__text">
                Anywhere.<br />
                We can work fully remotely or arrange visits at your office from time to time.
            </p>
        </div>
    </div>
</section>
