<section class="automation" id="automation">
    <div class="automation__content screen-handler">
        <h2 class="visible visible--not automation__title">Automation</h2>
        <div class="automation__wrapper">
            <section class="visible visible--not automation__text-container">
                <p class="automation__text">
                    We will not tell you one or two technologies we use. We choose tools for the task, not tasks for tools.
                </p>
                <p class="automation__text">
                    If none of the tools we have used before is equivalent for the task and environment… we will use one that fits the best, even though it will require to acquire new knowledge.
                </p>
                <p class="automation__text">
                    We have ever used the following technologies at production:
                </p>
            </section>
            <section class="automation__technologies">
                <ul class="visible visible--not automation__technologies-list">
                    <li class="automation__technology">Terraform</li>
                    <li class="automation__technology">SaltStack</li>
                    <li class="automation__technology">Ansible</li>
                    <li class="automation__technology">Cloudformation</li>
                    <li class="automation__technology">Kops</li>
                </ul>
            </section>
        </div>
        <ul class="automation__links">
            <li class="visible visible--not automation__link-item">
                <a class="automation__link" href="https://www.terraform.io/" title="Terraform">
                    <img class="automation__link-image" src="/static/img/terraform.svg" alt="Terraform logo" />
                </a>
            </li>
            <li class="visible visible--not automation__link-item">
                <a class="automation__link" href="https://www.saltstack.com/" title="SaltStack">
                    <img class="automation__link-image" src="/static/img/saltstack_small.svg" alt="SaltStack logo" />
                </a>
            </li>
            <li class="visible visible--not automation__link-item">
                <a class="automation__link" href="https://www.ansible.com/" title="Ansible">
                    <img class="automation__link-image" src="/static/img/ansible.svg" alt="Ansible logo" />
                </a>
            </li>
            <li class="visible visible--not automation__link-item">
                <a class="automation__link" href="https://aws.amazon.com/cloudformation/" title="AWS CloudFormation">
                    <img class="automation__link-image" src="/static/img/aws-brands.svg" alt="Cloudformation logo" />
                </a>
            </li>
            <li class="visible visible--not automation__link-item">
                <a class="automation__link" href="https://github.com/kubernetes/kops" title="Kops">
                    <img class="automation__link-image" src="/static/img/kops.svg" alt="Kops logo" />
                </a>
            </li>
        </ul>
    </div>
</section>
