<section class="clouds" id="clouds">
    <div class="clouds__content screen-handler">
        <h2 class="visible visible--not clouds__title">Clouds</h2>
        <p class="visible visible--not clouds__text">
            We work <strong>only</strong> on
            <img class="clouds__image" src="/static/img/aws-brands.svg" alt="" />
        </p>
    </div>
</section>
