<section class="contact" id="contact">
    <div class="contact__content screen-handler">
        <p class="contact__text">
            Test us for one week.<br />
            Completely free of charge.
        </p>
        <p class="contact__text">
            Only one e-mail...
        </p>
        <a class="contact__button" href="mailto:office@lintops.tech" title="Contact us">contact us</a>
    </div>
</section>
