<section class="contact" id="contact">
    <div class="contact__content screen-handler">
        <p class="contact__text">
            Are you interested?<br />
            Or maybe have more questions?
        </p>
        <p class="contact__text">
            If so, just...
        </p>
        <a class="contact__button" href="mailto:office@lintops.tech" title="Contact us">contact us</a>
    </div>
</section>
