<section class="containers" id="containers">
    <div class="containers__content screen-handler">
        <h2 class="visible visible--not containers__title">Containers</h2>
        <div class="containers__wrapper">
            <section class="visible visible--not containers__text-container">
                <p class="containers__text">
                    We have deep, production experience in container-based infrastructures.
                </p>
                <p class="containers__text">
                    We have maintained the following technologies at production:
                </p>
            </section>
            <section class="containers__technologies">
                <ul class="visible visible--not containers__technologies-list">
                    <li class="containers__technology">DCOS | Mesos</li>
                    <li class="containers__technology">Kubernetes</li>
                    <li class="containers__technology">Docker Swarm</li>
                </ul>
            </section>
        </div>
        <ul class="containers__links">
            <li class="visible visible--not containers__link-item">
                <a class="containers__link" href="http://mesos.apache.org/" title="Mesos">
                    <img class="containers__link-image" src="/static/img/mesos.svg" alt="Mesos logo" />
                </a>
            </li>
            <li class="visible visible--not containers__link-item">
                <a class="containers__link" href="https://kubernetes.io/" title="Kubernetes">
                    <img class="containers__link-image" src="/static/img/kubernetes.svg" alt="Kubernetes logo" />
                </a>
            </li>
            <li class="visible visible--not containers__link-item">
                <a class="containers__link" href="https://www.docker.com/" title="Docker">
                    <img class="containers__link-image" src="/static/img/docker.svg" alt="Docker logo" />
                </a>
            </li>
        </ul>
    </div>
</section>
