<footer class="footer" id="footer">
    <div class="footer__content screen-handler">
        <section class="footer__address">
            <h3 class="footer__section-title">Address</h3>
            <div class="footer__address-container">
                <p class="footer__address-line">
                    <strong>LINSEC - Kamil Zabielski</strong>
                </p>
                <p class="footer__address-line">Żurawia 71 2.03</p>
                <p class="footer__address-line">15-535 Białystok</p>
                <p class="footer__address-line">Poland</p>
            </div>
        </section>
        <section class="footer__address">
            <h3 class="footer__section-title">E-mail</h3>
            <div class="footer__address-container">
                <a href="mailto:office@lintops.tech" class="footer__email" title="Contect us">office@lintops.tech</a>
            </div>
        </section>
        <!--<section class="footer__blog">-->
            <!--<h3 class="footer__section-title">Blog</h3>-->
            <!--<ul class="footer__blog-list">-->
                <!--<li class="footer__blog-list-item">-->
                    <!--<a href="#" class="footer__blog-link" title="How to choose the right DevOps tools">How to choose the right DevOps tools</a>-->
                <!--</li>-->
                <!--<li class="footer__blog-list-item">-->
                    <!--<a href="#" class="footer__blog-link" title="Staging environments for development">Staging environments for development</a>-->
                <!--</li>-->
                <!--<li class="footer__blog-list-item">-->
                    <!--<a href="#" class="footer__blog-link" title="Continuous Integration">Continuous Integration</a>-->
                <!--</li>-->
                <!--<li class="footer__blog-list-item">-->
                    <!--<a href="#" class="footer__blog-link" title="Application and server performance monitoring (and more)">Application and server performance monitoring (and more)</a>-->
                <!--</li>-->
                <!--<li class="footer__blog-list-item">-->
                    <!--<a href="#" class="footer__blog-link" title="Perfecting your DevOps tools collection">Perfecting your DevOps tools collection</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</section>-->
    </div>
    <div class="footer__copyrights">
        Copyrights © 2018 lintops.tech - All rights reserved
    </div>
</footer>
