<footer class="footer" id="footer">
    <div class="footer__content screen-handler">
        <section class="footer__address">
            <h3 class="footer__section-title">ADDRESS</h3>
            <div class="footer__address-container">
                <p class="footer__address-line">
                    <strong>LINSEC - KAMIL ZABIELSKI</strong>
                </p>
                <p class="footer__address-line">ŻURAWIA 71</p>
                <p class="footer__address-line">15-540 BIAŁYSTOK</p>
                <p class="footer__address-line">POLAND</p>
            </div>
        </section>
        <section class="footer__address">
            <h3 class="footer__section-title">E-MAIL</h3>
            <div class="footer__address-container">
                <a href="mailto:office@lintops.tech" class="footer__email" title="CONTACT US">OFFICE@LINTOPS.TECH</a>
            </div>
        </section>
        <!--<section class="footer__blog">-->
            <!--<h3 class="footer__section-title">Blog</h3>-->
            <!--<ul class="footer__blog-list">-->
                <!--<li class="footer__blog-list-item">-->
                    <!--<a href="#" class="footer__blog-link" title="How to choose the right DevOps tools">How to choose the right DevOps tools</a>-->
                <!--</li>-->
                <!--<li class="footer__blog-list-item">-->
                    <!--<a href="#" class="footer__blog-link" title="Staging environments for development">Staging environments for development</a>-->
                <!--</li>-->
                <!--<li class="footer__blog-list-item">-->
                    <!--<a href="#" class="footer__blog-link" title="Continuous Integration">Continuous Integration</a>-->
                <!--</li>-->
                <!--<li class="footer__blog-list-item">-->
                    <!--<a href="#" class="footer__blog-link" title="Application and server performance monitoring (and more)">Application and server performance monitoring (and more)</a>-->
                <!--</li>-->
                <!--<li class="footer__blog-list-item">-->
                    <!--<a href="#" class="footer__blog-link" title="Perfecting your DevOps tools collection">Perfecting your DevOps tools collection</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</section>-->
    </div>
    <div class="footer__copyrights">
        <span class="footer__copyrights-item">Copyrights © 2019 lintops.tech - All rights reserved</span>
        <span class="footer__copyrights-item">Powered by: <a href="https://www.nafrontendzie.pl" target="_blank" title="Na Frontendzie - the author's website">Bartłomiej Dybowski</a></span>
    </div>
</footer>
