<section class="help" id="help">
    <div class="help__content screen-handler">
        <h2 class="visible visible--not help__title">How can we help you</h2>
        <div class="help__links" id="help-links">
            <a class="visible visible--not help__link" href="#services">
                <img class="help__image-link" src="/static/icons/cog-light.svg" alt="Gears icon" />
                <p class="help__link-title">Services</p>
            </a>
            <a class="visible visible--not help__link" href="#automation">
                <img class="help__image-link" src="/static/icons/play-light.svg" alt="Play icon" />
                <p class="help__link-title">Automation</p>
            </a>
            <a class="visible visible--not help__link" href="#clouds">
                <img class="help__image-link" src="/static/icons/clouds-light.svg" alt="Clouds icon" />
                <p class="help__link-title">Clouds</p>
            </a>
            <a class="visible visible--not help__link" href="#containers">
                <img class="help__image-link" src="/static/icons/box-open-light.svg" alt="Opened box icon" />
                <p class="help__link-title">Containers</p>
            </a>
        </div>
        <p class="visible visible--not help__tip">Click one of the icons above to learn more</p>
    </div>
</section>
