<section class="services" id="services">
    <div class="services__content screen-handler">
        <h2 class="visible visible--not  services__title">Services</h2>
        <!--<p class="visible visible--not services__description">-->
            <!--Maybe some additional text about your services? Some introduction etc. Fusce at cursus sapien. Aliquam erat volutpat. Quisque vitae posuere ligula. Maecenas nibh ante, vulputate fermentum nisl sit amet, pulvinar lacinia urna.-->
        <!--</p>-->
        <div class="services__boxes">
            <div class="visible visible--not  services__box">
                <div class="services__box-info">
                    <h3 class="services__box-info-title">Cloud Migration</h3>
                    <p class="services__box-info-description">
                        We can migrate your infrastructure to the cloud.
                    </p>
                </div>
                <img class="services__box-image" src="/static/icons/cloud-upload-light.svg" alt="" />
            </div>
            <div class="visible visible--not services__box">
                <div class="services__box-info">
                    <h3 class="services__box-info-title">Cloud Audits</h3>
                    <p class="services__box-info-description">
                        We can help you audit your infrastructure, regarding security, architecture and flows.
                    </p>
                </div>
                <img class="services__box-image" src="/static/icons/cloud-audits.svg" alt="" />
            </div>
            <div class="visible visible--not services__box">
                <div class="services__box-info">
                    <h3 class="services__box-info-title">Infrastructure Maintenance</h3>
                    <p class="services__box-info-description">
                        We can provide you 24 hours support for your cloud-based infrastructure, including monitoring, logging and alerting.
                    </p>
                </div>
                <img class="services__box-image" src="/static/icons/server-light.svg" alt="" />
            </div>
            <div class="visible visible--not services__box">
                <div class="services__box-info">
                    <h3 class="services__box-info-title">Continous Integration / Delivery</h3>
                    <p class="services__box-info-description">
                        We can help you to prepare, integrate and build the full continuous integration, continuous deployment pipeline for your infrastructure.
                    </p>
                </div>
                <img class="services__box-image" src="/static/icons/sync-light.svg" alt="" />
            </div>
        </div>
    </div>
</section>
