<section class="top-section" id="top-section">
    <p class="top-section__welcome">We will lint your infrastructure…</p>
    <!--<p class="top-section__sub-welcome">Short explanation what visitor can get on this site</p>-->
    <a class="button top-section__call-to-action" href="#about-us" id="learn-more-button">learn more</a>
</section>
